@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.col {
    background: #fff;
    max-width: 1800px;
    width: 100%;
    background: #fff;
    margin: 50px auto;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
    padding: 30px;
}

.container .row .col .page-header {
    font-size: 24px;
    font-weight: 700;
    color: #0065b8;
    text-transform: uppercase;
    text-align: center;
    margin-top: 16px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.form-group .submit-img {
    padding-top: 13px;
    padding-left: 35px;
}

.form-group label {
    width: 150px;
    color: #757575;
    font-size: 14px;
}

.form-group .control-label {
    text-align: left !important;
    margin-left: 30px;
}

.inputfield {
    width: 100%;
    outline: none;
    font-size: 15px;
    padding: 8px 5px;
    transition: all 0.3s ease;
    margin-right: 30px;
}

.form-group .btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 78px;
    height: 10px;
}

.form-group .inputfield .btn {
    background-color: #007ee6;
    color: #fff;
    margin-right: 15px;
    width: 120px;
}

.form-group .inputfield .btn:hover {
    background: #66a9e0;
}

.tbl {
    background: white;
    width: auto;
}

table {
    padding-top: 20px;
}

.tbl .page-header {
    font-size: 24px;
    font-weight: 700;
     margin-top: 25px;
    margin-bottom: 25px;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

#table-header {
    background: #d6ecf3;
}

.table {
    background-color: white;
}

#tbl-search_filter input {
    color: white;
}

#tbl-search_info {
    padding-top: 20px;
    color: white;
}

#tbl-search_paginate {
    padding-top: 20px;
    color: white;
}

table tr th {
    background: white;
}

.dataTables_length label {
    color: white;
}

.dataTables_length label select {
    color: black;
}

#tbl-search_filter label {
    color: white;
    margin-left: 30px;
}

#tbl-search_filter.dataTables_filter input {
    border-radius: 10px;
    border: white;
    background: white;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 30px;
    color: black;
}

pagination>li>a,
.pagination>li>span {
    background-color: white
}

.pagination>li.active>a,
.pagination>li.active>span {
    background-color: #ADD8E6
}
